.container-fluid {
    background-image:url('../../assets/images/bg-1.jpg');
    background-position:center top;
    background-size:cover;
    background-attachment:fixed;
    background-repeat: no-repeat;

    .login-form {
        width: 430px;
        margin: 0 auto;
        padding: 6% 1rem 1rem 0rem;
    
        img {
            display: block;
            margin: 0 auto 3rem auto;
        }
        @media (max-width: 575.98px) {
            img {
                width: 255px;
                height: 51px;
            }
        }
    
        h3.title {
            color: #fff;
            text-align: center;
            font-size: 1.5rem;
            font-weight: 500;
        }
    
        .security-msg {
            margin-top: 5rem;
            font-size: 1rem;
            font-weight: 500;
            color: #bbabf1;
            text-align: center;
        }
    
        form {
            margin: 4rem auto;
    
            input {
                border-radius: 46px;
                border: none;
                background: rgba(67, 34, 167, 0.4);
                color: #fff;
                height: 46px;  
                padding-left: 1.5rem;
                padding-right: 1.5rem;
                margin-top: 1.5rem;
            }
            input:focus {
                color: #fff;
                background: rgba(67, 34, 167, 0.4);
                border: none;
                outline: none !important;
                box-shadow: none !important;
            }
            ::placeholder {
                color: #FFF;
                opacity: 0.7;
                font-size: 14px;
                font-weight: 550;
            }
    
            small {
                color: #646c9a;
                font-weight: 550;
                padding-left: 1.5rem;
            }

            .form-action {
                text-align: center;
    
                button[type=submit] {
                    height: 46px;
                    display: inline-block;
                    text-align: center;
                    padding-left: 3rem;
                    padding-right: 3rem;
                    margin-top: 0.8rem;
                    border-radius: 60px;
                    background: transparent;
                    color: rgba(255, 255, 255, 0.8);
                    border-color: rgba(255, 255, 255, 0.4);
                }
    
                button[type=submit]:hover {
                    border-color: rgba(255, 255, 255, 1.0);
                }

                button[type=submit]:focus {
                    outline: none !important;
                    box-shadow: none;
                }

                .btn:focus, .btn:active{
                outline: none !important;
                box-shadow: none !important;
                -webkit-box-shadow: none !important;
              }
    
            }
        }
    }    
}