<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<div class="mat-content">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
          <mv-account-card [cardDetail]="firstCard"></mv-account-card>
      </div>
      <div class="col-md-4">
        <mv-account-card [cardDetail]="secondCard"></mv-account-card>
      </div>
      <div class="col-md-4">
        <mv-account-card [cardDetail]="thirdCard"></mv-account-card>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <span>Last Week Summary</span>
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Channels</th>
                  <th scope="col">Transaction Value in Last Complete Week</th>
                  <th scope="col">Average Transaction Value of Previous Weeks</th>
                  <th scope="col">Value Difference</th>
                  <th scope="col">Transaction Value in Last Complete Week</th>
                  <th scope="col">Average Transaction Value of Previous Weeks</th>
                  <th scope="col">Value Difference</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Online</td>
                  <td class="text-danger">8,460M</td>
                  <td class="text-danger">19,760M</td>
                  <td class="text-danger">-56,99%</td>
                  <td class="text-danger">67,181</td>
                  <td class="text-danger">131,564</td>
                  <td class="text-danger">-48,94%</td>
                </tr>
                <tr>
                  <td>Online</td>
                  <td class="text-success">340M</td>
                  <td class="text-success">3050M</td>
                  <td class="text-success">11,48%</td>
                  <td class="text-success">88,918</td>
                  <td class="text-success">74,678</td>
                  <td class="text-success">19,07%</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mt-3">
        <div class="row">
          <div class="col-md-8">
            <div class="form-group row">
              <label for="from" class="col-md-2 col-form-label">From</label>
              <div class="col-md-10 input-group">
                <input type="date" class="form-control" ngbDatepicker #d="ngbDatepicker" name="from" id="from" placeholder="dd/MM/yyyy"> 
                <div class="input-group-append">
                    <button class="btn btn-outline-primary calendar" (click)="d.toggle()" type="button"></button>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="to" class="col-md-2 col-form-label">To</label>
              <div class="col-md-10 input-group">
                <input type="date" class="form-control" ngbDatepicker #d="ngbDatepicker" name="to" id="to" placeholder="dd/MM/yyyy"> 
                <div class="input-group-append">
                    <button class="btn btn-outline-primary calendar" (click)="d.toggle()" type="button"></button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="channels">Channels</label>
              <select id="channels" class="form-control">
                <option selected>All channels</option>
                <option>Mobile</option>
                <option>Online</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-3">
        <div class="row">
          <div class="col-md-8">
            <div class="card">
              <div class="card-header">
                <span>Daily Average</span>
              </div>
              <div class="card-body">
                <table class="table">
                  <tr>
                    <td>Transaction Volume</td>
                    <td>2,087,918</td>
                  </tr>
                  <tr>
                    <td>Transaction Value</td>
                    <td>2,047,583.29</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-header">
                <span>Success Rate</span>
              </div>
              <div class="card-body">
                <table class="table">
                  <tr>
                    <td>Success Percentage</td>
                    <td>89.72%</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-7">
        <div class="card">
          <div class="card-header">
            <span>Transaction Volume Over Time</span>
          </div>
          <div class="card-body">
              <canvas mvGraph [options]="options"></canvas>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="card">
          <div class="card-header">
            <span>Value Distribution</span>
          </div>
          <div class="card-body">
              <canvas #pieChart></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <span>Customer Participation Summary</span>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">Channel Type</th>
                        <th scope="col">Number Of Customers in Last Completed Week</th>
                        <th scope="col">Averaged Number Of Customers in Previous Week</th>
                        <th scope="col">Parcentage Difference</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>ATM</td>
                        <td class="text-success">1061004</td>
                        <td class="text-success">1057305</td>
                        <td class="text-success">0.35%</td>
                      </tr>
                      <tr>
                        <td>POS</td>
                        <td class="text-success">1717591</td>
                        <td class="text-success">1715957</td>
                        <td class="text-success">0.10%</td>
                      </tr>
                      <tr>
                        <td>Online</td>
                        <td class="text-danger">23212</td>
                        <td class="text-danger">32168</td>
                        <td class="text-danger">-27.84%</td>
                      </tr>
                      <tr>
                        <td>Mobile</td>
                        <td class="text-success">21061</td>
                        <td class="text-success">18182</td>
                        <td class="text-success">15.84%</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-md-3">
                  <div class="mt-5"><h3>% of Total Number of Customers</h3></div>
                  <div class="mt-5">
                    <canvas mvHorizontalBar [options]="firstHBarOptions"></canvas>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mt-5"><h3>% of Total Transaction Value</h3></div>
                  <div class="mt-5">
                    <canvas mvHorizontalBar [options]="secondHBarOptions"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <span>Transaction Value Hourly</span>
          </div>
          <div class="card-body">
              <canvas mvNBVerticalBar [options]="nbVBarOptions"></canvas>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <span>Interaction Volume</span>
          </div>
          <div class="card-body">
              <canvas mvBVerticalBar [options]="firstBVBarOptions"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <span>Weekly 100% Streched View on Volume</span>
          </div>
          <div class="card-body">
              <canvas mvVerticalBar [options]="vBarOptions"></canvas>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <span>Interaction Value</span>
          </div>
          <div class="card-body">
              <canvas mvBVerticalBarSM [options]="secondBVBarOptions"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
